In [2]:
import pandas as pd
df = pd.read_csv('../Number of Dugwells by Type for 5th Minor Irrigation Census (2013-14).csv')

In [3]:
df.head()

,State,District,Block/Tehsil,Village,Pucca,Kutcha,Dug-cum bore well,Others
0,ANDHRA PRADESH,Krishna,A.Konduru,A.Konduru,0,0,4,0
1,ANDHRA PRADESH,Krishna,A.Konduru,Atlapragada,0,0,11,0
2,ANDHRA PRADESH,Krishna,A.Konduru,Cheemalapadu,0,0,23,0
3,ANDHRA PRADESH,Krishna,A.Konduru,Gollamandala,11,6,7,0
4,ANDHRA PRADESH,Krishna,A.Konduru,Koduru,0,8,12,0