# Season-wise Potential Utilised Through Dugwells
# Relation between the three datasets
So, basically there are three datasets with almost similar names matching the above heading.  
Let's just dig deep into these for a start.

In [1]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('Season wise Potential Utilised (in use) Through Dugwells for 5th Minor Irrigation Census (2013-14).csv')
df2 = pd.read_csv('Season wise Potential Utilised (Temporary not in use) Through Dugwells for 5th Minor Irrigation Census (2013-14).csv')
df3 = pd.read_csv('Season wise Potential Utilised Through All Dugwells for 5th Minor Irrigation Census (2013-14).csv')

df1 - In use  
df2 - Temporary not in use  
df3 - All

In [2]:
df1.columns == df2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [3]:
df3.columns == df2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

Column names are the same across.

In [4]:
df1.shape

(213392, 12)

In [5]:
df2.shape

(34138, 12)

In [6]:
df3.shape

(222992, 12)

Doesn't seem like these are just down to simple arithmetics.   
Let's check the smaller ones with the largest.

In [7]:
df1.shape[0] + df2.shape[0]

247530

In use + not in use do not give us all.  
So we'll have to exclude everything not in use in our final dataset and include anything that's left.

In [8]:
df1.head()

,State,District,Block/Tehsil,Village,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Kharif,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Rabi,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Perennial,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Others,Area irrigated during 2013-2014 - Outside Command - Kharif,Area irrigated during 2013-2014 - Outside Command - Rabi,Area irrigated during 2013-2014 - Outside Command - Perennial,Area irrigated during 2013-2014 - Outside Command - Others
0,ANDAMAN & NICOBARS,NICOBAR,CAMPBELL BAY,Govind Nagar,0.0,0.0,0.0,0.0,2.48,2.92,0.0,0.0
1,ANDAMAN & NICOBARS,NICOBAR,CAMPBELL BAY,Joginder Nagar,0.0,0.0,0.0,0.0,1.30,2.20,0.0,0.0
2,ANDAMAN & NICOBARS,NICOBAR,CAMPBELL BAY,Sashtri Nagar,0.0,0.0,0.0,0.0,0.50,1.00,0.0,0.0
3,ANDAMAN & NICOBARS,NICOBAR,CAR NICOBAR,Big Lapati,0.0,0.0,0.0,0.0,0.63,0.32,0.0,0.0
4,ANDAMAN & NICOBARS,NICOBAR,CAR NICOBAR,Chuckchucha,0.0,0.0,0.0,0.0,1.71,0.27,0.0,0.0

In [9]:
df2.head()

,State,District,Block/Tehsil,Village,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Kharif,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Rabi,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Perennial,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Others,Area irrigated during 2013-2014 - Outside Command - Kharif,Area irrigated during 2013-2014 - Outside Command - Rabi,Area irrigated during 2013-2014 - Outside Command - Perennial,Area irrigated during 2013-2014 - Outside Command - Others
0,ANDAMAN & NICOBARS,NICOBAR,CAR NICOBAR,Big Lapati,0.0,0.0,0.0,0.0,0.1,0.10,0.0,0.0
1,ANDAMAN & NICOBARS,NORTH & MIDDLE ANDAMAN,RANGAT,Adojig,0.0,0.0,0.0,0.0,0.4,0.30,0.2,0.0
2,ANDAMAN & NICOBARS,NORTH & MIDDLE ANDAMAN,RANGAT,Betapur,0.0,0.0,0.0,0.0,0.0,0.41,0.1,0.0
3,ANDAMAN & NICOBARS,NORTH & MIDDLE ANDAMAN,RANGAT,Ramachandra nagar,0.0,0.0,0.0,0.0,0.2,0.30,0.0,0.0
4,ANDAMAN & NICOBARS,SOUTH ANDAMAN,FERRARGUNJ,Namunagarh,0.0,0.0,0.0,0.0,0.1,0.10,0.0,0.0

In [10]:
df3.head()

,State,District,Block/Tehsil,Village,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Kharif,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Rabi,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Perennial,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Others,Area irrigated during 2013-2014 - Outside Command - Kharif,Area irrigated during 2013-2014 - Outside Command - Rabi,Area irrigated during 2013-2014 - Outside Command - Perennial,Area irrigated during 2013-2014 - Outside Command - Others
0,ANDAMAN & NICOBARS,NICOBAR,CAMPBELL BAY,Govind Nagar,0.0,0.0,0.0,0.0,2.48,2.92,0.0,0.0
1,ANDAMAN & NICOBARS,NICOBAR,CAMPBELL BAY,Joginder Nagar,0.0,0.0,0.0,0.0,1.30,2.20,0.0,0.0
2,ANDAMAN & NICOBARS,NICOBAR,CAMPBELL BAY,Sashtri Nagar,0.0,0.0,0.0,0.0,0.50,1.00,0.0,0.0
3,ANDAMAN & NICOBARS,NICOBAR,CAR NICOBAR,Big Lapati,0.0,0.0,0.0,0.0,0.73,0.42,0.0,0.0
4,ANDAMAN & NICOBARS,NICOBAR,CAR NICOBAR,Chuckchucha,0.0,0.0,0.0,0.0,1.71,0.27,0.0,0.0

In [11]:
df1.iloc[:,:4].apply(lambda x : x.is_unique)

State           False
District        False
Block/Tehsil    False
Village         False
dtype: bool

We don't have a proper indexable column in our data.  
Let's try adding a new attribute  for the same by using all the first four attributes.

In [12]:
def add(x):
    for i in range(4):
        x[i] = x[i].strip()
    return x[0] + '_' + x[1] + '_' + x[2] + '_' + x[3]

In [13]:
df3.index = df3.iloc[:,:4].apply(add, axis = 1)
df3.index.nunique()

222992

In [14]:
df3.shape

(222992, 12)

In [15]:
df2.index = df2.iloc[:,:4].apply(add, axis = 1)
df2.index.nunique()

34138

In [16]:
df2.shape

(34138, 12)

In [17]:
df1.index = df1.iloc[:,:4].apply(add, axis = 1)
df1.index.nunique()

213392

In [18]:
df1.shape

(213392, 12)

As you can see that our unique valued index is ready.  
It's made out of the first four attributes leaving us with no point to keep the four attributes.

In [19]:
df1 = df1.drop(columns = df1.columns[:4])
df2 = df2.drop(columns = df2.columns[:4])
df3 = df3.drop(columns = df3.columns[:4])

Now that we've got rid of those, let's do what we're trying to do from the start.

In [20]:
def check(x, y):
    return x in y
pd.Series(df2.index).apply(check, y = df3.index).value_counts()

True    34138
dtype: int64

That leaves us with the fact that all data points in df2 are present in df3.  
If you're wondering how it made sense, compare the number obtained with the length of df2.  
Let's check if stuff in df1 is present in df3 which in case does will make sense.

In [21]:
pd.Series(df1.index).apply(check, y = df3.index).value_counts()

True    213392
dtype: int64

That's another YES saying all data points present in df1 are present in df3.  
Let's check if stuff in df2 is present in df1 which in case does will make sense.  
I expect it won't and the number of false will be the difference between the first and last datasets.

In [22]:
pd.Series(df2.index).apply(check, y = df1.index).value_counts()

True     24538
False     9600
dtype: int64

As expected, the number of falses is same as the difference between the first and last datasets.  
All this leaves us with some facts about the three datasets.  
df1 contains the areas in each location that's being irrigated currently using dugwells.  
df2 the same but areas that have been temporarily not in use.  
df3 contains literally what we get if we summate the other two datasets.

In [23]:
li = list()
def add(x, y):
    if x.name in y.index:
        x += y.loc[x.name]
        li.append(x.name)
    return x
df1 = df1.apply(add, y = df2, axis = 1)
df2 = df2.drop(li)

In [24]:
df1.shape[0] + df2.shape[0] == df3.shape[0]

True

In [25]:
df3.equals(df1.append(df2))

False

In [26]:
df4 = df1.append(df2)

In [27]:
x = df3.sort_index() == df4.sort_index()

In [28]:
x.apply(lambda x : x.value_counts())

,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Kharif,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Rabi,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Perennial,Area irrigated during 2013-2014 - Inside Command of Major/Medium Project - Others,Area irrigated during 2013-2014 - Outside Command - Kharif,Area irrigated during 2013-2014 - Outside Command - Rabi,Area irrigated during 2013-2014 - Outside Command - Perennial,Area irrigated during 2013-2014 - Outside Command - Others
True,222926,222935,222967,222990,221503,221705,222677,222802
False,66,57,25,2,1489,1287,315,190

In [29]:
for i in range(8):
    print(str(df3.sum()[i]) + '\n' + str(df4.sum()[i]))

332108.180000002
332108.1800000023
363455.99999999994
363456.0000000001
83788.62999999987
83788.62999999987
14739.070000000036
14739.070000000036
6112357.040000006
6112357.039999994
8721889.879999977
8721889.879999962
783704.0699999997
783704.0699999998
435031.4500000022
435031.45000000135

In my quest for getting df3 from df1 and df2 brings me down to some negligible round-off errors.
# That's a conclusion to stop this relation analysis